:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

a {
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
    font-weight: 400;
}

.header {

}

.main-nav {

}

.page-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.page-logo-span {
    color: var(--ocean);
}

.main-menu {

}

.main-menu-item {

}

.main-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.main-menu-link:hover,
.main-menu-link:focus {
    color: var(--iris) 
}

.header-contacts {
    font-style: normal
}

.header-contacts-list {

}

.header-contacts-item {

}   

.header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--ocean)
}   

.main-content {

}

.hero-section {
    background: var(--navy-blue);
}

.hero-slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.hero-button {
    border-radius: 4px;
    padding: 16px 24px;
    width: 169px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--ocean);
}

.we-section {

}

.we-list {

}

.we-list-item {

}

.we-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.we-list-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.team-section {
    background: var(--cloud);
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    text-transform: capitalize
}

.team-list {

}

.team-list-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.team-list-item-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.team-list-item-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

.portfolio-section {

}

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    text-transform: capitalize
}

.portfolio-list {

}

.portfolio-list-item {
    width: 361px;
    height: 420px;
    background: var(--white);

    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
}

.portfolio-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.page-footer {
    background: var(--navy-blue);
}

.page-footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.page-footer-logo-span {
    color: var(--cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}